body,
#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Container {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url('Images/BackgroundImages/bgLanding.png');
  background-size: cover;
  background-position: center center;
}

.navBar {
  display: flex;
  position: relative;
  width: 100%;
  height: 10%;
}

.navList {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  list-style: none;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
